.head{
    background-color: purple;
    color:whitesmoke;
    border-radius: 12px;
}

input{
    border-radius: 12px;
    width: 12%;
    height: auto;
    background-color: plum;
    font-family: Broadway;
    color: purple;
}

button{
    border-radius: 8px;
    background-color: plum;
    width: 100px;
    height: 40px;
    font-family: Broadway;
    color: purple;
}
body{
    font-family: Broadway;
    font-weight: bolder;
}

::-webkit-scrollbar{
    border-radius: 14px;
    width:10px;
}

::-webkit-scrollbar-track{
    border-radius: 14px;
    background-color: plum;
    width:10px;

}

::-webkit-scrollbar-thumb{
    background-color: purple;
    border-radius: 50px;
    width:10px;
}
textarea{
    background-color: plum;
    color: purple;
}

.subnavbtn{
    float: left;
}

A{
    color: purple;
    text-decoration: none;
}
h2{
    color: gold;
}